@{
    ViewData["Title"] = "Contatti";
}
<h2>@ViewBag.Title</h2>

<p>Per ogni ulteriore informazione e per registrarsi agli incontri pianificati, navigate sul sito Meetup.</p>
<address>
    <strong>Meetup web page:</strong> <a href="http://meetup.com/opendomus">Opendomus</a><br />
</address>
<address>
    <strong>Supporto:</strong> <a href="mailto:info@opendomus.com">info@opendomus.com</a><br />
</address>