@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>OpenDomus</h1>
    <p class="lead">OpenDomus nasce come struttura di coordinamento per l'organizzazione di incontri tematici brevi e aperti a tutte le community informatiche, senza distinzione di piattaforme tecnologiche o di linguaggi utilizzati.</p>
    <p>
        @Html.ActionLink("Per saperne di più »", "Mission", "Home", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Prossimi incontri</h2>
        <p>
            Gli incontri si svolgono presso la sede di LUISS Enlabs, dalle 7 alle 9 di sera. Ogni incontro affronta due tematiche, scelte secondo il meccanismo dell'Unconference. I due argomenti più votati vengono assegnati al primo incontro disponibile.
        </p>
        <p>
            @Html.ActionLink("Vai al calendario incontri »", "Meetups", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vota gli argomenti che ti interessano di più</h2>
        <p>Partecipa attivamente contribuendo col tuo voto a determinare l'ordine con cui verranno trattati i temi proposti e, se te la senti, proponiti come relatore di un nuovo argomento di cui ti senti competente. </p>
        <p>
            @Html.ActionLink("Vai alla bacheca »", "Sessions", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Proponi un tuo argomento</h2>
        <p>Partecipa attivamente contribuendo col tuo voto a determinare l'ordine con cui verranno trattati i temi proposti e, se te la senti, proponiti come relatore di un nuovo argomento di cui ti senti competente. </p>
        <p>
            @Html.ActionLink("Crea un nuovo argomento »", "Sessions", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>