@{
    ViewData["Title"] = "Mission";
}
<h2>@ViewBag.Title</h2>

<p>OpenDomus nasce come struttura di coordinamento per l'organizzazione di incontri tematici brevi e aperti a tutte le community informatiche, senza distinzione di piattaforme tecnologiche o di linguaggi utilizzati.</p>
<p>A differenza dei classici eventi divulgativi, che hanno una durata tipica non inferiore a mezza giornata, i nostri incontri si svolgono in orario dopo lavorativo e durano molto di meno. La scelta dei temi trattati avviene tramite il classico meccanismo dell'Unconference, dove chiunque può proporre un argomento e ciascuno vota quelli per lui più interessanti. I due argomenti più votati vengono assegnati al primo incontro disponibile, gli altri rimangono in votazione, e così via.</p>
<p>La durata degli incontri è di circa due ore, una per ciascun argomento. I formati utilizzati possono essere diversi, dal classico speech in cui il conduttore illustra un caso d'uso che ha utilizzato nella propria attività lavorativa, al Fishbowl, dove il conduttore introduce l'argomento e facilita lo scambio di idee e opinioni tra i partecipanti.</p>
<p>A fine incontro, chi vuole può proseguire la conversazione a cena.</p>