@{
    ViewData["Title"] = "Sessioni";
}
<h2>@ViewBag.Title</h2>

<p>Vota le tue sessioni preferite cliccando sul Postit, le due più votate formeranno il programma del prossimo incontro.</p>

<ul class="sessionboard">
    <li class="post-it">
        <p><strong>LUIS & BOT Framework</strong></p>
        <p>Come sviluppare un riconoscitore di comandi naturali ed utilizzarlo come servizio all'interno dei diversi BOT framework disponibili nella varie piattaforme.</p>
        <p class="text-right">Stars 5</p>
    </li>
    <li class="post-it">
        <p><strong>Service Locator vs Dependency Injection</strong></p>
        <p>In entrambi i casi il codice è indipendente dalla concreta implementazione del servizo, ma quale è meglio usare? E in quali scenari?</p>
        <p class="text-right">Stars 3</p>
    </li>
    <li class="post-it">Session3</li>
    <li class="post-it">Session4</li>
    <li class="post-it">Session5</li>
</ul>